.familyName {
    width: 204px;
    height: 24px;
    color: #ffffff;
}

nav {

    background-color: #2196f3;
}

.nav-wrapper a {
    padding-left: 0;
}


.Bounds {
    width: 180px;
    height: 56px;
    display: inline-block;
    text-align: center;
    padding-left: 8%;
    padding-bottom: 1%;
}

.points {
    margin-left: 65%;
}

footer {
    width: 375px;
    padding-top: 2%;
    height: 80px;
    margin-top: 110%;
    background-color: #eeeeee;
}

footer div.hover {
    background-color: #c7a500;
}

section a {
    margin-bottom: 30%;
}

.Bounds i {
    padding: 0;
}