@font-face {
    font-family: 'ardina-script';
    src: url('fonts/ArdinaScriptFont.ttf');
    font-style: normal;
    font-weight: 100;
}

#closeButton {
    padding: 0;
    margin: 21px;
}

#closeIcon {
    width: 25px;
    height: 25px;
    color: #ffffff;
}

#chores-header {
    width: 153px;
    height: 77px;
    font-family: ardina-script;
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    color: #ffffff;
    text-align: center;
    margin: -18px auto 8px auto;
}

#logo {
    width: 104px;
    height: 104px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;    
}

.input-field i {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    top: 8px;
    right: 0px;
}

.input-field i.active {
    color: white;
}

#familyName, #password {
    border-bottom: 0 solid white;
    -webkit-box-shadow: 0 1px 0 0 white;
    -moz-box-shadow: 0 1px 0 0 white;
    box-shadow: 0 1px 0 0 white;
    color: white;
}

div.row {
    margin: 0px 24px;
}

a.hidden {
    display: none;
}

#join-btn {
    width: 312px;
    height: 36px;
    border-radius: 2px;
    background-color: #ffd600;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

#join-btn-txt {
    width: 166.6px;
    height: 16px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #000000;
}
