.pug-theme-color,
.tab a {
    background-color: #2196f3 !important;
    color: #cecece !important;
}

.pug-theme-color a.active,
.tab a.active {
    color: white !important;
}

.roundIMG {
    border-radius: 50%;
}

nav .nav-title {
    color: white;
    text-align: center;
    padding-top: 0 !important;
}

nav .input-field>label {
    color: white !important;
    font-size: 150% !important;
}

#taskName input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid white !important;
    color: white;
}

footer {
    width: 100%;
    padding-top: 2%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: #eeeeee;
}

footer .active {
    color: #c7a500;
}

footer a {
    color: black;
}


nav .input-field input:focus,
nav .input-field input[type=text]:valid,
nav .input-field input[type=password]:valid,
nav .input-field input[type=email]:valid,
nav .input-field input[type=url]:valid,
nav .input-field input[type=date]:valid {
    color: white;
    font-size: 200%;
    font-weight: 600;
    padding-left: 10px;
}

body .add-item {
    margin-bottom: 30%;
}

nav .brand-logo {}

.stickToBottom {
    position: fixed;
    bottom: 0;
    left: 35%;
    margin-bottom: 10px;
}

.btn-floating.btn-large i {
    color: black;
}

.margin-left {
    padding-left: 15px;
}