
* {
    box-sizing: border-box !important;
}
.pug-theme-color,
.tab a {
    background-color: #2196f3 !important;
    color: #cecece !important;
}

.pug-theme-color a.active,
.tab a.active {
    color: white !important;
}

#create-fam-header {
    font-size: 20px;
    font-weight: 500;
}

a#family-name {
    padding-left: 36px;
}

.roundIMG {
    border-radius: 50%;
}

nav .nav-title {
    color: white;
    text-align: center;
    padding-top: 0 !important;
}

nav .input-field>label {
    color: white !important;
    font-size: 150% !important;
}

#taskName input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid white !important;
    color: white;
}

footer {
    width: 100%;
    padding-top: 2%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: #eeeeee;
}

footer .active {
    color: #c7a500;
}

footer a {
    color: black;
}


nav .input-field input:focus,
nav .input-field input[type=text]:valid,
nav .input-field input[type=password]:valid,
nav .input-field input[type=email]:valid,
nav .input-field input[type=url]:valid,
nav .input-field input[type=date]:valid {
    color: white;
    font-size: 200%;
    font-weight: 600;
    padding-left: 10px;
}

body .add-item {
    margin-bottom: 30%;
}

nav .brand-logo {}

.stickToBottom {
    position: fixed;
    bottom: 0;
    left: 30%;
    margin-bottom: 10px;
}

.btn-floating.btn-large i {
    color: black;
}

.margin-left {
    padding-left: 15px;
}

.material-icons.hidden {
    display: none;
}

ul#menuDropdown.dropdown-content {
    top: -44px;
    left: 40px;
    width: 185px !important;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

ul#menuDropdown.dropdown-content > li > a {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #000000;
}

.dropdownBgColor {
    background-color: rgba(50, 50, 50, 0.3);
}

#rewardName  {
    color: white;
    font-family: Roboto;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  color: #ffffff;
}

#value, #note {
    color: black;
    padding-left: 3rem;
}