.pug-theme-color, .tab a {
    background-color: #2196f3;
    color: #cecece !important;
    
}
.pug-theme-color a.active, .tab a.active  {
    color: white !important;
}

img{
    border-radius: 50%;
}

body a {
    margin-bottom: 30%;
}

nav .brand-logo {
    font-size: 0; 
}

.stickToBottom{
    position: fixed;
    bottom: 0;
    left: 30%;
}

.btn-floating.btn-large i {
    color: black;
}