@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Open+Sans:400,700');
@font-face {
    font-family: 'ardina-script';
    src: url('fonts/ArdinaScriptFont.ttf');
    font-style: normal;
    font-weight: 100;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: #0069c0;
    margin-left:auto;
    margin-right: auto; 
    line-height: 200%;
    padding-top: 20pt;
    border-style: solid;
    border-color: white;
}
#pointsCounter{
  font-size: 40pt;
  
}

#create-fam-header {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}


.task span {
    display: inline-block;
}

/* .tabs:active {
    text-decoration: underline #ffd600; 
} */

.task > span {
    width: 50%;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.tabs .indicator {
    border-bottom: 2px solid #ffd600;
    background-color : #ffd600;
}

.addButton {
    width: 56px;
    height: 56px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffd600;
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
    border-image-slice: 1;
    position: fixed;
}

.Bounds {
    text-align: center;
    padding-left: 8%;
}

.points {
    margin-left: 50%;
}

section a {
    margin-bottom: 30%;
}

div .card-panel {
    width: 99.9%;
    margin: 0;
    box-shadow: 0px 0px 0.0px 0.3px grey;
}

  /* #available {
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(100deg); 
    transform-origin: top bottom;
    transform:rotate(0deg) translateY(10px);
}  */

 /* #available > a {
    transform: rotate(-90deg);
    transform-origin: top right;
}  */

#taskName, nav .nav-title, #name, #value, #note {
    overflow-wrap: break-word;
    word-break: break-all;
    overflow:scroll;
    padding-left: 3rem;
}

nav {
    width: 100%;
    position: relative;
}

h3 {
    padding: 1rem;
}


#addButton {
    position: fixed;
    margin-bottom: 9rem;
}

.blue-text.text-darken-2 {
    color: black;
}